:root {
    --primary-bg-color: #003D58;
    --secondary-bg-color: #849EA8;
    --primary-font-color: #FFF7EA;
    --primary-highlight-color: #FFF7EA;
    --secondary-highlight-color: #E8624D;
    --primary-header-font-family: 'Nunito', sans-serif;
    --primary-body-font-family:  'Nunito', sans-serif;
    --default-h1-size: 2em;
    --default-h2-size: 1.5em;
    --default-p-size: 1em;
    --max-slider-width: 450px;
    color: #E8624D
}

/* ---------------
    page styling 
------------------*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
}

h1, h2, label, a {
    font-family: var(--primary-header-font-family);
    color: var(--primary-font-color);   
}

h1 {
    font-size: var(--default-h1-size);
    text-align: center
}

h2 {
    font-size: var(--default-h2-size);
    text-align: center
}

p {
    font-family: var(--primary-body-font-family);
    color: var(--primary-font-color);
    font-size: var(--default-p-size);
    font-weight: 100
}


/* -----------------------
        page grid 
------------------------- */
.site-wrapper {
    display: grid;
    grid-template-areas:
    "landing"
    "about"
    "projects"
    "stack"
    "contact"
    "site-footer";
}

/* -----------------------
        Navigayion
------------------------- */
header {
    position: fixed;
    display: grid;
    z-index: 999;
    width: 100%;
    height: 100vh;
    height: 50px; 
    grid-template-columns: .3fr 1fr .3fr
}

nav {
    display: grid;
    grid-area: nav;
    position: absolute;
    background-color: var(--secondary-highlight-color);
    text-align: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    transform: scale(1, 0);
    transform-origin: bottom;
    transition: transform 400ms ease-in-out;
}

nav li {
    margin-bottom: 1em;
}

nav a {
    color: var(--primary-highlight-color);
    text-decoration: none;
    font-size: var(--default-h2-size);
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.nav-toggle {
    display: none;
    cursor: pointer;
}

.label-container {
    perspective: 1000;
}

.nav-toggle-label {
    position: absolute;
    margin-left: 1em;
    margin-top: 1em;
    height: 50px;
    width: 50px;
    align-items: baseline;
    transition:  all 0.6s ease;
    transform-style: preserve-3d;
}
/* flip animation */
.nav-icon-front, .nav-icon-back {
    position: absolute;
    height: 50px;
    width: 50px;
    backface-visibility: hidden;
}

.nav-icon-back {
    transform: rotateY(180deg);
}

.nav-toggle:checked ~ label {
    transform: rotateY(180deg);
    transition:  all 0.6s ease;
    transform-style: preserve-3d;
}
/* flip animation end */

/* nav overlay animation */
.nav-toggle:checked {
    transform: scale(1, 1)
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
    height: 100vh;
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label img {
    height: 100%;
    margin-bottom: 1em
}

.nav-container a:active ~ nav {
    opacity: 0;
}
/* nav overlay animation end */

/* -----------------------
        landing 
------------------------- */

.landing {
    z-index: 1;
    grid-area: landing;
    display: grid;
    justify-content: center;
    min-height: 100vh;
}

.logo-container {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 80vw;
    align-self: center;
    text-align: center;
}

.landing-button {
    width: 15vw;
    max-width: 70px;
    align-self: center;
    justify-self: center
}

/* -----------------------
        landing 
------------------------- */

/* -----------------------
        About 
------------------------- */
.about {
    z-index: 2;
    grid-area: about;
    display: grid;
    flex-direction: column;
    grid-template-areas:
    ". . ."
    ". content ."
    "graphic graphic graphic";
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 50px auto auto;
    min-height: 100vh;  
}

/* -----------------------
        about slider 
------------------------- */

.about-content-container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    grid-area: content;
}

.about-slider {
    position: relative;
    display: flex;
    overflow: hidden;
    max-width: var(--max-slider-width);
}

.about-slider .about-slide {
    min-width: 100%;
}

.slider-nav {
    display: flex;
}

.slider-nav li {
    padding-right: 1em;
}

.slider-nav li input {
    appearance: none;
    -webkit-appearance: none;
    border-style: none;
    display: flex;
    width: 1em;
    height: 1em;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    transform: rotate(90deg);
    border: .15em solid #DCD2C6;
    color: var(--primary-font-color)
}
  
  .slider-nav li span:hover {
    background: #E8624D;
    border: 0.1em solid #DCD2C6;
    color: #E8624D;
  }

  .about-footer {
    grid-area: graphic; 
    align-self: flex-end;   
}

/* -----------------------
        Projects 
------------------------- */
.projects {
    grid-area: projects;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: 
    ". . ."
    ". text ."
    "footer footer footer"
    "divider divider divider"
}

.projects-text-container {
    grid-area: text;
    text-align: left;
    max-width: 450px;
    justify-self: center;
}

.projects-footer {
    grid-area: footer; 
    display: grid;
    grid-template-rows: auto;
}

.project-slider-container {
    display: flex;
    overflow: hidden;
    align-self: flex-end;
    z-index: -15;
    grid-column: 1/4;
    grid-row-start: 2;
    width: 100%;
    height: 72.5%;
    background: rgb(224, 154, 67); 
}

.project-slider-slide {
    background-color: pink;
    min-width: 100%;
    height: 100%;
}

.project-cinema {
    grid-row-start: 2;
    grid-column: 1/4;
    z-index: 5;
} 

.project-2 {
    background-color: aquamarine;
}
.project-3 {
    background-color: purple;
}

.projects-divider {
    grid-area: divider;
    margin-top: -5%;
    z-index: 10;
    width: 100%;
    grid-column: 1/4;
}

.projects-footer {
    margin-top: -50px;
    grid-column: 1/4;
    z-index: 10;
}
/* -----------------------
        tech stack 
------------------------- */

.skill-stack {
    grid-area: stack;
    display: grid;
    grid-template-areas:
    ". body ."
    ". tech-stack .";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 8fr 1fr;
    text-align: center
}

.tech-text-container {
    grid-area: body;
    max-width: 400px;
    justify-self: center;
    font-size: var(--default-p-size);
    margin-bottom: 2vw;
}

.stack-body {
    text-align: left;
}

.stack-wrapper {
    grid-area: tech-stack;
    align-self: center;
    width: 60vw;
    max-width: 500px;
    justify-self: center;
}

.badge-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2em;
}
.badge-container img {
    max-width: 100%;
}



/* -----------------------
        contact 
------------------------- */

/* contact form */

.contact-page {
    display: grid;
    grid-template-areas:
        ". body ."
        ". form . ";
    grid-template-rows: 1fr 1.8fr; 
    grid-template-columns: 1fr 8fr 1fr;
    grid-row-gap: 1em;
}

.contact-text-container {
    grid-area: body;
    font-size: var(--default-p-size);
    max-width: 450px;
    align-self: flex-end;
    justify-self: center;
}
.contact-title {
    font-size: var(--default-h1-size);
}

.contact-form-container {
    grid-area: form;
    justify-self: center;
    align-self: center;
    padding: 1em;
    width: 100%;
    max-width: 500px;
}

.contact-form {
    display: grid;
    grid-row-gap: 1.5em;
}

.contact-form input, textarea, button {
    border-radius: .3em;
    width: 100%;
    padding: 1em;
    border: none;
}
.contact-form textarea {
    margin-top: 1em; 
    padding: 1em;
}

.contact-form button {
    border: none;
    background-color: var(--secondary-bg-color);
    color: var(--primary-font-color);
    padding: 1em;
}

.contact-form button:hover {
    background-color: var(--secondary-highlight-color)
}

.page-footer {
    grid-area: site-footer;
    display: grid;
    grid-template-areas:
    ". . ."
    ". icons .";
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr 8fr 1fr;
}

.contact-icons {
    grid-area: icons;
    display: flex;
    justify-content: center;   
    margin-bottom: 2em; 
}

.contact-icons a {
    min-width: 65px;
    max-width: 100px;
    padding: 0 .5em 0 .5em;
}