:root {
    --primary-bg-color: #003D58;
    --secondary-bg-color: #849EA8;
    --primary-font-color: #FFF7EA;
    --primary-highlight-color: #FFF7EA;
    --secondary-highlight-color: #E8624D;
    --primary-header-font-family: 'Nunito', sans-serif;
    --primary-body-font-family:  'Nunito', sans-serif;
    --default-h1-size: 2em;
    --default-h2-size: 1.5em;
    --default-p-size: 1em;
}


/* ---------------
    page styling 
------------------*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none; 
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
}

h1, h2, label, a {
    font-family: var(--primary-header-font-family);
    color: var(--primary-font-color);   
}

h1 {
    font-size: var(--default-h1-size);
    text-align: center
}

h2 {
    font-size: var(--default-h2-size);
    text-align: center
}

p {
    font-family: var(--primary-body-font-family);
    color: var(--primary-font-color);
    font-size: var(--default-p-size);
    font-weight: 100
}


/* -----------------------
        page grid 
------------------------- */
.site-wrapper {
    display: grid;
    grid-template-areas:
    "landing"
    "about"
    "projects"
    "stack"
    "contact"
    "site-footer";
}

/* -----------------------
        Navigation
------------------------- */
header {
    position: fixed;
    display: grid;
    z-index: 999;
    width: 100%;
    height: 100vh;
    height: 50px; 
    grid-template-columns: .3fr 1fr .3fr
}

nav {
    display: grid;
    grid-area: nav;
    position: absolute;
    background-color: var(--secondary-highlight-color);
    text-align: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    transform: scale(1, 0);
    transform-origin: bottom;
    transition: transform 400ms ease-in-out;
}

nav li {
    margin-bottom: 1em;
}

nav a {
    color: var(--primary-highlight-color);
    text-decoration: none;
    font-size: var(--default-h2-size);
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.nav-toggle {
    display: none;
    cursor: pointer;
}

.label-container {
    perspective: 1000;
}

.nav-toggle-label {
    position: absolute;
    margin-left: 1em;
    margin-top: 1em;
    height: 50px;
    width: 50px;
    align-items: baseline;
    transition:  all 0.6s ease;
    transform-style: preserve-3d;
}
/* flip animation */
.nav-icon-front, .nav-icon-back {
    position: absolute;
    height: 50px;
    width: 50px;
    backface-visibility: hidden;
}

.nav-icon-back {
    transform: rotateY(180deg);
}

.nav-toggle:checked ~ label {
    transform: rotateY(180deg);
    transition:  all 0.6s ease;
    transform-style: preserve-3d;
}
/* flip animation end */

/* nav overlay animation */
.nav-toggle:checked {
    transform: scale(1, 1)
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
    height: 100vh;
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label img {
    height: 100%;
    margin-bottom: 1em
}

.nav-container a:active ~ nav {
    opacity: 0;
}
/* nav overlay animation end */

/* -----------------------
        landing 
------------------------- */

.landing {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.landing-content-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 20% 2em 0 2em;
    max-width: 500px;
}

.moto {
    margin-bottom: 60%;
}
.landing-button {
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.landing-button object {
    cursor: pointer;
    pointer-events: none;
    display: flex;
    margin-bottom: -2em;
    width: 4em;
    height: 4em;
}
.landing-button input[type=checkbox] {
    display: none;
}

.landing-button input[type=checkbox]:checked ~ label object{
    transform: rotate(360deg);
    transition:  all 0.6s ease;
    transform-style: flat;
}

/* pulse button */
/* .landing-button {
    margin-bottom: -2em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    padding-left: 4.5em;
} */
/* 
.pulse-button {
    position: relative;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: #FFF7EA;
    border-radius: 50%;
    line-height: 84px
}

.pulse-button:before,
.pulse-button:after {
    content: '';
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border: 4px solid #E8624D;
    animation: animate 3s linear infinite
} */

/* @keyframes animate
{
    0%
    {
        transform: scale(0.5);
        opacity: 0
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.2);
        opacity: 0
    }
} */

/* -----------------------
        About 
------------------------- */

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    min-height: 100vh;
    max-width: 100vw;
}

.about-title {
    text-align: left;
}

.about-footer {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.about-footer img {
    width: 100%;
    height: 100%;
    
}

/* -----------------------
        about slider 
------------------------- */

.about-content-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    padding: 0 2em 0 2em;
    margin-top: 20%;
    max-width: 500px;
    flex-direction: column;
    scroll-snap-type: x mandatory;
}

.about-slider {
    max-width: 450px;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow: -moz-scrollbars-none;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    will-change: transform;
    transition: all 0.2s;
    /* scroll snap + fallbacks */
    scroll-snap-type: x mandatory; /* Chrome Canary */  
    scroll-snap-type: mandatory; /* Firefox */  
    -ms-scroll-snap-type: mandatory; /* IE/Edge */  
    -webkit-scroll-snap-type: mandatory; /* Safari */  
    -webkit-scroll-snap-destination: 0% 0%;  
    -webkit-overflow-scrolling: touch; /* important for iOS */  
}

.sliderActive {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    scroll-snap-type: x mandatory
}

.about-slide {
    width: 100%;
    display: inline-flex;
    /* scroll snap */
    scroll-snap-align: start; /* latest (Chrome 69+) */  
    scroll-snap-coordinate: 0% 0%; /* older (Firefox/IE) */  
    -webkit-scroll-snap-coordinate: 0% 0%; /* older (Safari) */  
}

.about-slide p {
    white-space: pre-wrap;
    scroll-snap-type: x mandatory;
    user-select: none;
    pointer-events: none
}

.slider-nav {
    display: flex;
}

.slider-nav li {
    padding-right: 1em;
}

.about-radio {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-style: none;
    display: flex;
    width: 1em;
    height: 1em;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    transform: rotate(90deg);
    border: .15em solid #DCD2C6;
    color: var(--primary-font-color);
    outline: 0;
}

.about-radio:checked {
    outline: 0;
    background-color: #E8624D;
    border: .15em solid #E8624D;
}


/* -----------------------
        Projects 
------------------------- */

.projects {
    grid-area: projects;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: 
    ". . ."
    ". text ."
    "footer footer footer"
    "divider divider divider"
}

.projects-text-container {
    grid-area: text;
    text-align: left;
    max-width: 450px;
    justify-self: center;
}

.projects-footer {
    grid-area: footer; 
    display: grid;
    grid-template-rows: auto;
}

.project-slider-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    align-self: flex-end;
    z-index: -15;
    grid-column: 1/4;
    grid-row-start: 2;
    width: 100%;
    height: 72.5%;
    background: #323232;
}

#project-nav-container {
    /* margin-bottom: 7.5%; */
    height: 5%;
    grid-column: 1/4;
    display: none;
    justify-content: center;
    z-index: 25;
}

.project-slider {
    /* margin-top: 7.5%; */
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow: -moz-scrollbars-none;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    will-change: transform;
    transition: all 0.2s;
    /* scroll snap + fallbacks */
    scroll-snap-type: x mandatory; /* Chrome Canary */  
    scroll-snap-type: mandatory; /* Firefox */  
    -ms-scroll-snap-type: mandatory; /* IE/Edge */  
    -webkit-scroll-snap-type: mandatory; /* Safari */  
    -webkit-scroll-snap-destination: 0% 0%;  
    -webkit-overflow-scrolling: touch; /* important for iOS */  
}

.project-slide {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    /* scroll snap */
    scroll-snap-align: start; /* latest (Chrome 69+) */  
    scroll-snap-coordinate: 0% 0%; /* older (Firefox/IE) */  
    -webkit-scroll-snap-coordinate: 0% 0%; /* older (Safari) */  
}

#intro-animation {
    width: 100%
}


.project-media {
    display: block;
    width: 40%;
    object-fit: contain;
}


.project-slide a {
    white-space: pre-wrap;
    scroll-snap-type: x mandatory;
    user-select: none;
    pointer-events: none;
}

.project-radio {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-style: none;
    display: flex;
    width: 1em;
    height: 1em;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    transform: rotate(90deg);
    border: .15em solid #DCD2C6;
    color: var(--primary-font-color);
    outline: 0;
}

.project-radio:checked {
    outline: 0;
    background-color: #E8624D;
    border: .15em solid #E8624D;
}

.project-cinema {
    grid-row-start: 2;
    grid-column: 1/4;
    z-index: 5;
    pointer-events: none;
}

.projects-divider {
    grid-area: divider;
    margin-top: -5%;
    z-index: 10;
    width: 100%;
    grid-column: 1/4;
}

.projects-footer {
    margin-top: -50px;
    grid-column: 1/4;
    z-index: 10;
}
/* -----------------------
        tech stack 
------------------------- */

.skill-stack {
    grid-area: stack;
    display: grid;
    grid-template-areas:
    ". body ."
    ". tech-stack .";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 8fr 1fr;
    text-align: center
}

.tech-text-container {
    grid-area: body;
    max-width: 400px;
    justify-self: center;
    font-size: var(--default-p-size);
    margin-bottom: 2vw;
}

.stack-body {
    text-align: left;
}

.stack-wrapper {
    grid-area: tech-stack;
    align-self: center;
    width: 60vw;
    max-width: 500px;
    justify-self: center;
}

.badge-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2em;
}
.badge-container img {
    max-width: 100%;
}



/* -----------------------
        contact 
------------------------- */

/* contact form */

.contact-page {
    display: grid;
    grid-template-areas:
        ". body ."
        ". form . ";
    grid-template-rows: 1fr 1.8fr; 
    grid-template-columns: 1fr 8fr 1fr;
    grid-row-gap: 1em;
}

.contact-text-container {
    grid-area: body;
    font-size: var(--default-p-size);
    max-width: 450px;
    align-self: flex-end;
    justify-self: center;
}
.contact-title {
    font-size: var(--default-h1-size);
}

.contact-form-container {
    grid-area: form;
    justify-self: center;
    align-self: center;
    padding: 1em;
    width: 100%;
    max-width: 500px;
}

.contact-form {
    display: grid;
    grid-row-gap: 1.5em;
}

.contact-form input, textarea, button {
    border-radius: .3em;
    width: 100%;
    padding: 1em;
    border: none;
}
.contact-form textarea {
    margin-top: 1em; 
    padding: 1em;
}

.contact-form button {
    border: none;
    background-color: var(--secondary-bg-color);
    color: var(--primary-font-color);
    padding: 1em;
}

.contact-form button:hover {
    background-color: var(--secondary-highlight-color)
}

.page-footer {
    grid-area: site-footer;
    display: grid;
    grid-template-areas:
    ". . ."
    ". icons .";
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr 8fr 1fr;
}

.contact-icons {
    grid-area: icons;
    display: flex;
    justify-content: center;   
    margin-bottom: 2em; 
}

.contact-icons a {
    min-width: 65px;
    max-width: 100px;
    padding: 0 .5em 0 .5em;
}


/* prep for site wide scroll snap */

/* .site-wrapper {
    height: 100%;
    white-space: y nowrap;
    scroll-snap-type: y mandatory;
    overflow-y: hidden;
    will-change: transform;
    transition: all 0.2s;
    scroll-snap-type: mandatory;  
    -ms-scroll-snap-type: mandatory;  
    -webkit-scroll-snap-type: mandatory; 
    -webkit-scroll-snap-destination: 0% 0%;  
    -webkit-overflow-scrolling: touch; 
}

.page-section {
    width: 100%;
    
    scroll-snap-align: start; 
    scroll-snap-coordinate: 0% 0%; 
    -webkit-scroll-snap-coordinate: 0% 0%; 

} */