/* ---------------
    page styling 
------------------*/

* {
    box-sizing: border-box;
    
  }
  
body {
    margin: 0;
    padding: 0;
    background: #003D58;
}

footer {
    margin: 0;
    padding: 0;
}

h1
{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: #FFF7EA;
    font-size: 2.5em;
}
h2 {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: #FFF7EA;
    font-size: 24px;
}
p {
    margin: 0;
    padding: 0;
    font-family: 'Esteban', serif;
    color: #FFF7EA;
    font-size: 1em;
}
label {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: #FFF7EA;
}



/* -----------------------
        page grid 
------------------------- */
.site_wrapper {
    display: grid;
    grid-template-areas:
    "landing"
    "about"
    "projects"
    "divider"
    "stack"
    "contact";
    grid-template-rows: repeat(1fr);
    min-width: 100vw;
    min-height: 100vw;
}

/* -----------------------
        landing 
------------------------- */
.landing {
    grid-area: landing;
    display: grid;
    grid-template-areas:
    "logo logo logo"
    "quote quote quote"
    ". button .";
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    min-height: 100vh;
    /* max-height: ; */
    min-width: 100vw
}
.logo  {
    grid-area: logo;
    padding-left: 10%;
    padding-right: 10%;
    align-self: center
}
.quote {
    grid-area: quote;
    padding-left: 10%;
    padding-right: 10%;
    align-self: center;
    text-align: center;
    margin: .5em
}
.landing-button {
    grid-area: button;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: #FFF7EA;
    border-radius: 50%;
    position: relative;
}
/* -----------------------
        landing 
------------------------- */


/* -----------------------
        About 
------------------------- */

.about {
    grid-area: about;
    display: grid;
    grid-template-areas:
    ". about-title ."
    ". about-text ."
    "about-footer about-footer about-footer";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw
}

.about-title {
    grid-area: about-title;
    align-self: flex-end
}

.about-text {
    grid-area: about-text;
    align-self: center;

}

.about-footer {
    grid-area: about-footer;
    align-self: flex-end
}

/* -----------------------
        About 
------------------------- */


/* -----------------------
        Projects 
------------------------- */

.projects {
    grid-area: projects;
    display: grid;
    grid-template-areas:
    ". title ."
    ". text ."
    "footer footer footer"; 
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
}
.projects-title {
    grid-area: title;
    align-self: center;
    text-align: left;

}
.projects-text {
    grid-area: text;
    align-self: center;
    text-align: left;

}

.projects-footer {
    grid-area: footer;
    grid-row-end: span 2;

    z-index: -1;
}
/* -----------------------
        Projects 
------------------------- */

/* -----------------------
        Divider 
------------------------- */
.divider {
    grid-area: divider;
    display: grid;
    grid-template-rows: 1fr;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;

}
.div-img {
    grid-row: 1/2;
    object-fit: contain;


    z-index: 10;
}

.stack-title {
    grid-area: stack;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}