/* main styling */
body {
    margin: 0;
    padding: 0;
    background: #003D58;
}

h1
{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: #FFF7EA;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Esteban', serif;
    color: #FFF7EA;
}
label {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: #FFF7EA;
}
/* ^ page style ^ */


/* grid info */

.landing-page {
    grid-area: landing;
}
.about-page {
    grid-area: about;
}
.project-page {
    grid-area: projects;
}
.skills-page {
    grid-area: skills;
}
.stack-page {
    grid-area: stack;
}
.contact-page {
    grid-area: contact;
}

.page-grid {
    display: grid;
    grid-template-areas:
    'landing'
    'about'
    'projects'
    'skills'
    'stack'
    'contact';

}

/* ^ page grid ^ */


/* landing page */

.landing-page {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;

    /* max-width: 100vw;
    max-height: 100vh; */
}
.logo {
    grid-row: 2/3;
    grid-column: 2/3;
}
.quote {
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: center;
    text-align: center;
    
}
.button {
    grid-row: 4;
    grid-column: 2;
    text-align: center;
    align-self: center;
}

/* ^ landing page ^ */

/* about */

.about-page{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 5fr 2fr;

    /* max-width: 100vw;
    max-height: 100vh; */
}
.about-title {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: center;
}
.about-text {
    grid-row: 3/4;
    grid-column: 2/3;
}
.about-footer {
    grid-row: 4/5;
    grid-column: 1/4;
    align-self: center;
}

/* ^ project page ^ */

/* project page */

.projects-page {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;

    /* max-width: 100vw;
    max-height: 100vh; */
}
.projects-header {
    grid-column: 1/4;
    grid-row: 1/2;
}
.projects-title {
    grid-column: 2/3;
    grid-row: 2/3;
}
.projects-text {
    grid-column: 2/3;
    grid-row: 3/4;
}
.projects-footer {
    grid-column: 1/4;
    grid-row: 4/5;
    align-self: end;
}

/* skills */

.skills-page {
    display: grid;
    grid-template-rows: 5fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;

    /* max-width: 100vw;
    max-height: 100vh; */

}
.skills-header {
    grid-row: 1/1;
    grid-column: 1/4;
}
.skills-title {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
    align-self: center
}
.skills-text {
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: center

}
.stack-page {
    display: grid;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
}
.stack-title {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    text-align: center;
}
.slider-1{
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.slider-1 {
    grid-row: 3/4;
    grid-column:  2/3;
    align-self: center;
}

/* 
.slider-2{
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.slider-2 {
    grid-row: 3/4;
    grid-column:  2/3;
    align-self: center;
} */

.contact-page {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
}
.contact-title {
    grid-row: 2/3;
    grid-column: 2/3;
}
.contact-text {
    grid-row: 3/4;
    grid-column: 2/3;
}
.contact-form {
    grid-row: 4/5;
    grid-column: 2/3;
}
.contact-icons {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}
.contact-icons {
    grid-row: 1/4;
    align-self: center;
}

