/* ---------------
    page styling 
------------------*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
  }
  
body {
    margin: 0;
    padding: 0;
    background: #003D58;
}

footer {
    margin: 0;
    padding: 0;
}

h1, h2, label {
    font-family: 'Nunito', sans-serif;
    color: #FFF7EA;
    
}
h1 {
    font-size: 2.5em
}

h2 {
    font-size: 1.5em;
}

p {
    font-family: 'Esteban', serif;
    color: #FFF7EA;
    font-size: 1.3em;
}




/* -----------------------
        page grid 
------------------------- */

.site_wrapper {
    display: grid;
    grid-template-areas:
    "landing"
    "about"
    "projects"
    "divider"
    "stack"
    "contact";
    
}

/* -----------------------
        landing 
------------------------- */
.landing {
z-index: 1;
display: flex;
flex-direction: column;
justify-content: space-evenly;
min-height: 100vh;
min-width: 100vw;
justify-content: center;
}

.logo, .landing-button {
    max-width: 60%;
}

.logo {
    padding-top: 2em;
    padding-bottom: 2em;
    width: 80vw;
    align-self: center
}

.quote {
    text-align: center;
    font-size: 5vw;

} 

.landing-button {
    padding-top: 2em;
    width: 10vw;
    align-self: center;
    padding-top: 4em;
}

.landing-button .st1 {
    width: 15vw;
    align-self: center
}
/* -----------------------
        landing 
------------------------- */


/* -----------------------
        About 
------------------------- */

.about {
    z-index: 2;
    grid-area: about;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;

}

.about article {
    align-self: flex-start;
    padding-left: 10vw;
    max-width: 80vw;
    font-size: 4vw;
}



/* .about .about-slider #about-2 {
    display: none
} */

.about-text {
    align-self: flex-start;
}

/* slider */

.about-slider {
    display: flex;
    overflow: hidden;
}

.about-slider .slide {
    min-width: 100%;
    display: flex;
}

.slider-nav {
    display: flex;
    padding-left: 5vw
    
}

.slider-nav ul {
    display: block;
    transform: rotate(-90deg);
  }
  
  .slider-nav ul > li {
    list-style: none;
    padding-bottom: 1em
  }

  
.slider-nav ul li a {
    display: flex;
    font-size: 1em;
    width: 5vw;
    height: 5vw;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    transform: rotate(90deg);
    border: .5vw solid #DCD2C6;
    color: #FFF7EA
  }
  
  .slider-nav ul li a:hover {
    background: #E8624D;
    border: 0.5vw solid #DCD2C6;
    color: #E8624D
  }
/* slider */

/* -----------------------
        About 
------------------------- */


/* -----------------------
        Projects 
------------------------- */

.projects {
    z-index: 3;
    grid-area: projects;
    display: grid;
    grid-template-areas:
    ". title ."
    ". text ."
    "footer footer footer"; 
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
}
.projects-title {
    grid-area: title;
    align-self: center;
    text-align: left;

}
.projects-text {
    grid-area: text;
    align-self: center;
    text-align: left;

}

.projects-footer {
    grid-area: footer;
    grid-row-end: span 2;
    z-index: -1;
}
/* -----------------------
        Projects 
------------------------- */

/* -----------------------
        Divider 
------------------------- */
.divider {
    grid-area: divider;
    display: grid;
    grid-template-rows: 1fr;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    object-fit: contain;

}

.div-img {
    grid-row: 1/2;
    max-height: 100vh;
    z-index: 10;
    
}

/* -----------------------
        Divider 
------------------------- */

/* -----------------------
        tech stack 
------------------------- */

.tech-stack {
    grid-area: stack;
    display: grid;
    grid-template-areas:
    ". . ."
    ". header ."
    ". badgebox .";
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 100vh;
    min-width: 100vw;
}

.stack-title {
    grid-area: header;
    align-self: center;
    text-align: center
}

.stack-box {
    grid-area: badgebox;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    grid-area: badgebox;
    grid-column: 2/3;
}
/* -----------------------
        tech stack 
------------------------- */